{% extends "boss.html" %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">

                        <hr>
                        <h2>Контакты</h2>
                        <hr>

                        <p>
                            <b>Контактная информация</b><br>
                            <b>Автономная Некоммерческая Организация "Футбольный клуб "Уфа" Республики
                                Башкортостан</b><br><br>


                        <h2>Реквизиты клуба:</h2><br>

                        <h3>ИНН 0000000000, КПП 000000000</h3><br>

                        <h3>р/с 00000000000000000000</h3><br>

                        <h3>Башкирское отделение № 0000 ПАО "Сбербанк" г. Уфа</h3><br>

                        <h3>БИК 0000000 к/с 00000000000000000000000000000000</h3><br>

                        <h2>Генеральный директор:</h2>
                        <h3> Лолов Лол Лолович, на основании Устава</h3><br>

                        <h2>Юридический и почтовый адрес:</h2>
                        <h3> 450064, Республика Башкортостан, г. N, ул. Комарова, д. 0</h3><br>

                        <h2>Телефон/факс:</h2>
                        <h3>(000) 000-00-00</h3><br>

                        <h2>Бухгалтерия:</h2>
                        <h3>(000) 000-00-00</h3><br>

                        <h2>Школа ФК "Auxerre":</h2>
                        <h3>(000) 000-00-00</h3><br>

                        <h2>e-mail:</h2>
                        <h3>info@asdasd.pro</h3><br><br>


                        <h5>Cтатья 15 п. 6 Федерального закона от 28.12.2013 N 426-ФЗ (ред. от 13.07.2015) "О
                            специальной оценке условий труда"</h5><br>

                        <h5>...</h5>
                        <br>

                        <h5>6. Работодатель с учетом требований законодательства Российской Федерации о персональных
                            данных и законодательства Российской Федерации о государственной и об иной охраняемой
                            законом тайне организует размещение на своем официальном сайте в
                            информационно-телекоммуникационной сети "Интернет" (при наличии такого сайта) сводных данных
                            о результатах проведения специальной оценки условий труда в части установления классов
                            (подклассов) условий труда на рабочих местах и перечня мероприятий по улучшению условий и
                            охраны труда работников, на рабочих местах которых проводилась специальная оценка условий
                            труда, в срок не позднее чем в течение тридцати календарных дней со дня утверждения отчета о
                            проведении специальной оценки условий труда.</h5>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
