{% extends "index.html" %}

{% block content_home %}
    <br>
    <section>
        <div class="container">
            {% for image in preview_image %}
                <img src="/{{ image.image }}" style="max-width: 100%; max-height: 100%; "/>
            {% endfor %}
        </div>
    </section>
    <br>
    <section class="details-card">
        <div class="container">
            <div class="row">
                {% for lol in blogs %}
                    <div class="col-md-4">
                        {% include "elements_index/newsitem.html" with title=lol.title image=lol.image create=lol.create id=lol.id %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <br>
    <br>
    <div class="container">
        <h2>Ближайший матч</h2>
        <hr>
        <div class="row">

            {% if matchs.count > 0 %}
                {% for match in matchs %}
                    <div class="container col-lg-6" style="text-align: -webkit-center;">
                        <table style="width: 300px">
                            <tr>
                                <td><p style="text-align: center">{{ match.home_team }}</p></td>

                                <td><p style="text-align: center">{{ match.guest_team }}</p></td>
                            </tr>
                            <tr>
                                <td><img src="/{{ match.home_image }}"/></td>

                                <td><img src="/{{ match.guest_image }}"/></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><p>{{ match.data }}/{{ match.time }}</p></td>
                            </tr>
                            <tr>
                                {% if user.is_authenticated %}
                                    <td colspan="2" style="text-align: center"><p><a href="/home/match/{{ match.id }}"
                                                                                     class="btn btn-outline-primary">Купить
                                        билеты</a></p></td>
                                {% else %}
                                    <td colspan="2" style="text-align: center"><p><a href="/home/"
                                                                                     class="btn btn-outline-primary">Купить
                                        билеты</a></p></td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                {% endfor %}

            {% else %}
                <p style="text-align: center">Матчи отсутствуют</p>

            {% endif %}

        </div>

    </div>

    <div class="container">
        <h2>Видео</h2>
        <hr>

        <div class="row">
            {% for video in videos %}
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade " id="modal1" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item"
                                                src="{{ video.video_url }}"
                                                allowfullscreen></iframe>
                                    </div>


                                </div>
                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">Spread the word!</span>
                                    <a type="button" class="btn-floating btn-sm btn-fb"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <!--Twitter-->
                                    <a type="button" class="btn-floating btn-sm btn-tw"><i
                                            class="fab fa-twitter"></i></a>
                                    <!--Google +-->
                                    <a type="button" class="btn-floating btn-sm btn-gplus"><i
                                            class="fab fa-google-plus-g"></i></a>
                                    <!--Linkedin-->
                                    <a type="button" class="btn-floating btn-sm btn-ins"><i
                                            class="fab fa-linkedin-in"></i></a>

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Close
                                    </button>

                                </div>

                            </div>


                            <!--/.Content-->

                        </div>

                    </div>

                    <!--Modal: Name-->

                    <a><img class="img-fluid z-depth-1" src="{{ video.image_video_url }}"
                            alt="video"
                            data-toggle="modal" data-target="#modal1"></a>
                    <div class="card-desc">
                        <h3 style="text-align: center">{{ video.title_v }}</h3>

                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
            {% endfor %}
        </div>

    </div>

    <div class="container">
        <h2>Турнирная таблица</h2>
        <hr>

        <table class="table">
            <thead class="blue white-text">
            <tr>
                <th scope="row">#</th>
                <th scope="col">Команда</th>
                <th scope="col">И</th>
                <th scope="col">В</th>
                <th scope="col">Н</th>
                <th scope="col">П</th>
                <th scope="col">З</th>
                <th scope="col">Пр</th>
                <th scope="col">Очки</th>
            </tr>
            </thead>
            <tbody>
            {% for key,val in team.items %}
                <tr>
                    <td scope="row" width="1%">{{ val.rank }}</td>
                    <td scope="row" width="30%" style="width: 124px">



                            <p style="display: inline-block;
   margin-left: 8px;">{{ val.teamName }}</p>

                    </td>
                    <td scope="row" width="10%">{{ val.matchsPlayed }}</td>
                    <td scope="row" width="10%">{{ val.win }}</td>
                    <td scope="row" width="10%">{{ val.draw }}</td>
                    <td scope="row" width="10%">{{ val.lose }}</td>
                    <td scope="row" width="10%">{{ val.goalsFor }}</td>
                    <td scope="row" width="10%">{{ val.goalsAgainst }}</td>
                    <td scope="row" width="10%">{{ val.points }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="container">
        <h2>Спонсоры</h2>
        <hr>
    </div>

{% endblock content_home %}
