{% extends "boss.html" %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <hr>
                        <h2 style="text-align: center">{{ blog_open.title }}</h2>
                        <hr>
                        <div class="container"  style = "text-align: center;">
                            <img src="/{{ blog_open.image }} " width="660" height="300"/>
                        </div>
                    <br>
                        <div class="container" style = "text-align: justify;">
                            {% autoescape off%}
                            {{ blog_open.body }}
                            {% endautoescape %}
                        </div>
                        <div class="container" style="text-align: right">
                            {{ blog_open.create }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
{% endblock %}