<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <p><label for="id_fullname">Fullname:</label> <input type="text" name="fullname" maxlength="100" required
                                                         id="id_fullname" value="{{ form.fullname }}"></p>
    <p><label for="id_image">Image:</label> <input type="file" name="image" accept="image/*" required id="id_image"></p>
    <p><label for="id_id_player_type">Id player type:</label> <select name="id_player_type" required
                                                                      id="id_id_player_type">
        <option value="{{ form.id_player_type.id }}" >{{ form.id_player_type }}</option>

        <option value="1">goalkeeper</option>

        <option value="2">defender</option>

        <option value="3">midfielder</option>

        <option value="4">forward</option>

    </select></p>
    <p><label for="id_birthday">Birthday:</label> <input type="text" name="birthday" required id="id_birthday" value="{{ form.birthday }}"></p>
    <p><label for="id_weight">Weight:</label> <input type="number" name="weight" required id="id_weight" value="{{ form.weight }}"></p>
    <p><label for="id_growth">Growth:</label> <input type="number" name="growth" required id="id_growth" value="{{ form.growth }}"></p>
    <p><label for="id_number">Number:</label> <input type="number" name="number" required id="id_number" value="{{ form.number }}"></p>
    <input class="btn btn-outline-primary" type="submit" value="crate">
</form>
</body>
</html>