{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/my_shit.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            $("path");

            function clickOnSector(event) {
                this.currentSector = event.target.dataset.sector;
                if (!this.selectedSeats[this.currentSector]) {
                    this.selectedSeats[this.currentSector] = []
                }
                // language=JQuery-CSS
                $('#exampleModal').modal({});
            }

            function clickOnSeat(event) {
                var row = $(event.target).data("row");
                var seat = $(event.target).data("site");

                console.log("sector:" + this.currentSector + " Row:" + row + " seat:" + seat);

                if (this.selectedSeats[this.currentSector].find(elem => elem.row == row && elem.seat == seat)) {
                    let index = this.selectedSeats[this.currentSector].findIndex(elem => elem.row === row && elem.seat === seat);
                    this.selectedSeats[this.currentSector].splice(index, 1);
                    $(event.target).removeClass("selectedpart");
                } else {
                    this.selectedSeats[this.currentSector].push({row: row, seat: seat});
                    $(event.target).removeClass("selectedpart");
                    $(event.target).addClass("selectedpart");
                }
            }

            function unselectSeatModalOnClose(e) {
                $("*[data-site]").removeClass("selectedpart");
            }

            function selectSeatModalOnShow(e) {
                console.log("Show modal");
                for (obj of this.selectedSeats[this.currentSector]) {
                    $(`*[data-row="${obj.row}"][data-site="${obj.seat}"]`).addClass("selectedpart");
                }
            }

            var context = {
                currentSector: null,
                selectedSeats: {},
                clickOnSector: clickOnSector,
                clickOnSeat: clickOnSeat,
                unselectSeatModalOnClose: unselectSeatModalOnClose,
                selectSeatModalOnShow: selectSeatModalOnShow

            };

            $("*[data-sector]").click(jQuery.proxy(context.clickOnSector, context));
            $("*[data-row]").click(jQuery.proxy(context.clickOnSeat, context));
            $('#exampleModal').on('hidden.bs.modal', jQuery.proxy(context.unselectSeatModalOnClose, context));
            $('#exampleModal').on('show.bs.modal', jQuery.proxy(context.selectSeatModalOnShow, context));
        });


    </script>
</head>
<body>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>