<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/my_shit.css">
</head>
<body>
<div class="container">
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            <label for="id_title_v">Title v:</label>
            <input type="text" name="title_v" maxlength="50" required id="id_title_v">
        </p>
        <p>
            <label for="id_video_url">Video url:</label></p>
        <p> <textarea name="video_url" cols="40" rows="10" required id="id_video_url">
    </textarea></p>
        <p>
            <input type="submit" class="btn btn-outline-primary" value="Сохранить">
        </p>
    </form>
</div>
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"
        data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>

</body>
</html>