<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-s-7">
                <div class="container">
                    <img src="http://bm.img.com.ua/img/prikol/images/large/0/0/307600.jpg">
                </div>
            </div>
            <div class="col-sm-5">
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}