{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/index/"> A.J.Auxerre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=""><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>



            <p><a href="{% url 'admin_panel' %}">All news</a></p>
            <p><a href="{% url 'admin_panel/create' %}"> Create new</a></p>
            <p><a href="{% url 'video' %}">All video</a></p>
            <p><a href="{% url 'create_video' %}">create video</a></p>
            <p><a href="{% url 'coach' %}"> All Coach</a></p>
            <p><a href="{% url 'add_coach' %}">Add Coach</a></p>
            <p><a href="{% url 'player_panel' %}">All Player team</a></p>
            <p><a href="{% url 'add_player' %}">Add Player</a></p>
            <p><a href="{% url 'preview_image_panel' %}">All preview</a></p>
            <p><a href="{% url 'preview_create' %}">Create priview</a></p>
            <p><a href="{% url 'match_panel' %}">All_match</a></p>
            <p><a href="{% url 'add_match' %}">Add_match</a></p>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/index/"> A.J.Auxerre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=""><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <p style="text-align: center">Next match</p>
                <div class="container">
                    <h2>matchs</h2>
                    <div class="row">
                        {% if matchs.count > 0 %}
                            {% for match in matchs %}
                                <table style="width: 300px">
                                    <tr>
                                        <td><p style="text-align: center">{{ match.home_team }}</p></td>

                                        <td><p style="text-align: center">{{ match.guest_team }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><img src="/{{ match.home_image }}"/></td>

                                        <td><img src="/{{ match.guest_image }}"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center">
                                            <p>{{ match.data }}/{{ match.time }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center"><p><a
                                                href="/accounts/tickets/{{ match.id }}"
                                                class="btn btn-outline-primary">
                                            ticket</a></p></td>
                                    </tr>
                                </table>
                            {% endfor %}
                        {% else %}
                            <p style="text-align: center"> no</p>
                        {% endif %}


                    </div>
                    <hr>
                </div>
            </div>
        {% endif %}
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index/"> A.J.Auxerre</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav  ">
                    <li><a href="{% url 'signup' %}"><span class="fas fa-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}/?next=/accounts/admin_panel/"><span class="fas fa-sign-in-alt"></span>Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <p style="text-align: center">Next match</p>
            <div class="container">
                <h2>matchs</h2>
                <div class="row">
                    {% if matchs.count > 0 %}
                        {% for match in matchs %}
                            <table style="width: 300px">
                                <tr>
                                    <td><p style="text-align: center">{{ match.home_team }}</p></td>

                                    <td><p style="text-align: center">{{ match.guest_team }}</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/{{ match.home_image }}"/></td>

                                    <td><img src="/{{ match.guest_image }}"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center"><p>{{ match.data }}/{{ match.time }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center"><p><a href="/accounts/tickets/{{ match.id }}"
                                                                                     class="btn btn-outline-primary">
                                        ticket</a></p></td>
                                </tr>
                            </table>
                        {% endfor %}
                    {% else %}
                        <p style="text-align: center"> no</p>
                    {% endif %}


                </div>
                <hr>
            </div>
        </div>
    {% endif %}
{% endblock %}