<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All video</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/my_shit.css">
</head>
<style>
    iframe {
        height: 350px;
        width: 100%;
        resize: both;
        overflow: auto;
    }
</style>
<body>
<div class="section">
    <div class="container">
        <a class="btn btn-outline-primary" href="/home/">Главная</a></button>
        <a class="btn btn-outline-primary" href="/accounts/admin_panel/create/">Добавить новость
        </a>
        <a class="btn btn-outline-primary" href="/accounts/admin_panel/create_video/">Добавить видео ролик</a>
    </div>
    <br>
    <div class="container">
        {% block content %}
            <div class="row">

                {% if videos.count > 0 %}

                    {% for video in videos %}
                        <div class="card-deck col-md-4" style="margin-top: 30px;">

                            <div class="card " style="width: 18rem;">

                                <iframe src="{{ video.video_url }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>

                                <div class="card-body">
                                    <label>Название видео ролика:</label>
                                    <h5 class="card-title">{{ video.title_v }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Дата публикации: {{ video.create }}</li>


                                </ul>
                                <div class="card-body">
                                    <a href="edit_video/{{ video.id }}" class="card-link"> Изменить видео</a>
                                    <a href="delete_video/{{ video.id }}" class="card-link">Удалить видео</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}

            </div>
        {% endblock %}
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>